<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.service.impl.UhoemProductsCollectServiceImpl">

	<resultMap id="uhoemProductsCollectResultMap" type="map">
		<id property="id" column="id" />
		<result property="memberid" column="memberid" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="productid" column="productid" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="collecttime" column="collecttime" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="status" column="status" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="create_time" column="create_time" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="creater" column="creater" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="modify_time" column="modify_time" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="modifier" column="modifier" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="price" column="price" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
	</resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="uhoemProductsCollectResultMap"></resultMap>
	<resultMap id="findResultMap"  type="java.util.HashMap" extends="uhoemProductsCollectResultMap"></resultMap>

	<!-- 新增 -->
	<insert id="insert" parameterType="map" useGeneratedKeys="true"
			keyProperty="id">
		INSERT INTO uhoem_products_collect (
		<if test="memberid != null ">
			memberid,
		</if>
		<if test="productid != null ">
			productid,
		</if>
		<if test="collecttime != null ">
			collecttime,
		</if>
		<if test="status != null ">
			status,
		</if>
		<if test="create_time != null ">
			create_time,
		</if>
		<if test="creater != null ">
			creater,
		</if>
		<if test="modify_time != null ">
			modify_time,
		</if>
		<if test="modifier != null ">
			modifier,
		</if>
		id
		) VALUES (
		<if test="memberid != null ">
			#{memberid},
		</if>
		<if test="productid != null ">
			#{productid},
		</if>
		<if test="collecttime != null ">
			#{collecttime},
		</if>
		<if test="status != null ">
			#{status},
		</if>
		<if test="create_time != null ">
			#{create_time},
		</if>
		<if test="creater != null ">
			#{creater},
		</if>
		<if test="modify_time != null ">
			#{modify_time},
		</if>
		<if test="modifier != null ">
			#{modifier},
		</if>
		0
		)
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="map">
		UPDATE uhoem_products_collect SET
		<if test="id != null  and id != ''">
			id=#{id}
		</if>
		<if test="memberid != null  and memberid != ''">
			, memberid=#{memberid}
		</if>
		<if test="productid != null  and productid != ''">
			, productid=#{productid}
		</if>
		<if test="collecttime != null  and collecttime != ''">
			, collecttime=#{collecttime}
		</if>
		<if test="status != null  and status != ''">
			, status=#{status}
		</if>
		<if test="create_time != null  and create_time != ''">
			, create_time=#{create_time}
		</if>
		<if test="creater != null  and creater != ''">
			, creater=#{creater}
		</if>
		<if test="modify_time != null  and modify_time != ''">
			, modify_time=#{modify_time}
		</if>
		<if test="modifier != null  and modifier != ''">
			, modifier=#{modifier}
		</if>
		WHERE
		id=#{id}
	</update>

	<!-- 分页查询-->
	<select id="page" parameterType="map" resultMap="pageResultMap">
		SELECT * from (
			SELECT
				xp.id,
				xp.`name`,
				xp.seo_description,
				ROUND(xp.price,1) AS price,
				xp.image,
				(SELECT count(xp1.id)
					FROM uhoem_erp_plan_product uepp
					left JOIN xx_product xp1 on xp1.id = uepp.product
					LEFT JOIN uhoem_erp_plan plan ON plan.id = uepp.planid
					LEFT JOIN uhoem_member member ON member.id = plan.member
					WHERE member.id = 12 and xp1.id = upc.productid)
					as ischeck
			FROM uhoem_products_collect upc
			LEFT JOIN xx_product xp ON xp.id = upc.productid
			WHERE  
				1 = 1
			AND
				memberid=#{memberid}
			<if test="product_category != null and product_category != ''">
				AND xp.product_main_category=#{product_category}
			</if>
			<if test="product_category == null">
				AND xp.product_main_category IN (1,2,3,4,5,6)
			</if>
				AND upc.status=1
		)	t
			ORDER BY ischeck DESC
	</select>

	<select id="findByMemberidAndProductid" parameterType="map" resultMap="findResultMap">
		select id,status from uhoem_products_collect
		where
			memberid=#{memberid}
			and productid=#{productid}
	</select>

	<!-- 条件查询-->
	<select id="find" parameterType="map" resultMap="findResultMap">
		SELECT
		id,
		memberid,
		productid,
		collecttime,
		status,
		create_time,
		creater,
		modify_time,
		modifier
		FROM uhoem_products_collect
		<where>
			<if test="id != null and id != '' ">
				id=#{id}
			</if>
			<if test="memberid != null and memberid != '' ">
				and memberid=#{memberid}
			</if>
			<if test="productid != null and productid != '' ">
				and productid=#{productid}
			</if>
			<if test="collecttime != null and collecttime != '' ">
				and collecttime=#{collecttime}
			</if>
			<if test="status != null and status != '' ">
				and status=#{status}
			</if>
			<if test="create_time != null and create_time != '' ">
				and create_time=#{create_time}
			</if>
			<if test="creater != null and creater != '' ">
				and creater=#{creater}
			</if>
			<if test="modify_time != null and modify_time != '' ">
				and modify_time=#{modify_time}
			</if>
			<if test="modifier != null and modifier != '' ">
				and modifier=#{modifier}
			</if>
		</where>
	</select>

</mapper> 