<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.service.impl.UhoemErpCoordinateServiceImpl">

	<resultMap id="uhoemErpCoordinateResultMap" type="map">
		<id property="id" column="id" />
		<result property="lat" column="lat" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--  纬度 -->
		<result property="lng" column="lng" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--  经度 -->
		<result property="location" column="location" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="now_date" column="now_date" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--  当前时间 -->
	</resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="uhoemErpCoordinateResultMap"></resultMap>
	<resultMap id="findResultMap"  type="java.util.HashMap" extends="uhoemErpCoordinateResultMap"></resultMap>

	<!-- 主键查询-->
	<select id="findOneById" parameterType="map" resultMap="findResultMap">
		SELECT
	    	id,
	    	lat,
	    	lng,
	    	location,
	    	now_date
		FROM uhoem_erp_coordinate
		WHERE
			id=#{id}
	</select>

</mapper> 