<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.service.impl.XxProductCategoryServiceImpl">

	<resultMap id="xxProductCategoryResultMap" type="map">
		<id property="id" column="id" />
		<result property="create_date" column="create_date" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="modify_date" column="modify_date" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="orders" column="orders" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="grade" column="grade" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="name" column="name" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="seo_description" column="seo_description" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="seo_keywords" column="seo_keywords" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="seo_title" column="seo_title" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="tree_path" column="tree_path" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="parent" column="parent" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="icon" column="icon" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="is_enable" column="is_enable" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
	</resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="xxProductCategoryResultMap"></resultMap>
	<resultMap id="findResultMap"  type="java.util.HashMap" extends="xxProductCategoryResultMap"></resultMap>

	<!-- 条件查询-->
	<select id="find" parameterType="map" resultMap="findResultMap">
		SELECT
		id,
		name
		FROM xx_product_category
		where grade = 1
		and parent = #{parent}
	</select>

	<!-- 条件查询-->
	<select id="findByParent" parameterType="map" resultMap="findResultMap">
		SELECT
		id,
		name,
		parent
		FROM xx_product_category
		where
		 parent = #{parent}
	</select>

</mapper> 