<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluemobi.pro.service.impl.XxProductHitsServiceImpl">

	<resultMap id="xxProductResultMap" type="map">
		<id property="id" column="id" />
		<result property="product" column="product" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="his_source" column="his_source" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
		<result property="member" column="member" typeHandler="com.bluemobi.mybatis.IntegerIfNull"/> <!--   -->
		<result property="create_date" column="create_date" typeHandler="com.bluemobi.mybatis.StringIfNull"/> <!--   -->
	</resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="xxProductResultMap"></resultMap>
	<resultMap id="findResultMap"  type="java.util.HashMap" extends="xxProductResultMap"></resultMap>

	<!-- 新增商品点击记录 -->
	<insert id="iAddHitsInfo" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO xx_product_hits (
		<if test="product != null and product != ''">
			product,
		</if>
		<if test="his_source != null and his_source != ''">
			his_source,
		</if>
		<if test="member != null and member != ''">
			member,
		</if>
		<if test="create_date != null and create_date != ''">
			create_date,
		</if>
		id
		) VALUES (
		<if test="product != null and product != ''">
			#{product},
		</if>
		<if test="his_source != null and his_source != ''">
			#{his_source},
		</if>
		<if test="member != null and member != ''">
			#{member},
		</if>
		<if test="create_date != null and create_date != ''">
			#{create_date},
		</if>
		0
		)
	</insert>

</mapper> 